MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/number-guessing-game?retryWrites=true&w=majority
PORT=5000
CLIENT_URL=http://localhost:5173
TURNSTILE_SECRET_KEY=0x000000000000000000000000000000000000000
